---
import Toolbar from '../components/Toolbar.astro';
import Welcome from '../components/Welcome.astro';
import Menu from '../components/Menu.astro';
import GalleryAndContact from '../components/GalleryAndContact.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout>
	<Toolbar />
	<main>
		<Welcome />
		<Menu />
		<GalleryAndContact />
	</main>

	<script>
		// Smooth scrolling for anchor links
		document.addEventListener('DOMContentLoaded', () => {
			const anchors = document.querySelectorAll('a[href^="#"]');
			anchors.forEach(anchor => {
				anchor.addEventListener('click', (e) => {
					e.preventDefault();
					
					const href = anchor.getAttribute('href');
					if (href === '#') return;
					
					const targetElement = document.querySelector(href || '#');
					if (targetElement) {
						targetElement.scrollIntoView({
							behavior: 'smooth'
						});
					}
				});
			});
		});
	</script>
</Layout>

<style>
	main {
		width: 100%;
	}
</style>